.tic-tac-toe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ttt_mainTitle {
  background: #F7971E;
  background: linear-gradient(to right, #FFD200, #F7971E);
  margin-bottom: 0;
}
