.welcome_page {
    justify-content: space-between;
    height: 100%;
}

nav {
    display: flex;
    justify-content: end;

    margin: 1rem .25rem;
}

.nav_link {
    text-decoration: none;
    color: gray;
    font-size: 1.2rem;
}

body > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPageTitle {
    background: linear-gradient(90deg, #acb6e5, #86fde8);
    background-clip: text;
    color: transparent;

    font-size: 2.5rem;
    max-width: 55vw;
}
